body {
  background-color: #daf0ff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 48px;
  font-weight: 500;
  color: #f1754e;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 550px;
  padding: 0 15px;
  min-height: 900px;
  height: 100%;
}
body .calc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 40px 33px;
  width: 450px;
  height: 812px;
  background-color: #17181a;
  border-radius: 39px;
}
body .calc::before {
  content: "";
  position: absolute;
  top: 105px;
  left: 125px;
  width: 357px;
  height: 835px;
  background-color: rgba(96, 190, 255, 0.55);
  filter: blur(70px);
  border-radius: 39px;
  z-index: -1;
}
body .calc .display {
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 1/-1;
  width: 100%;
  padding: 150px 0 70px;
  word-wrap: break-word;
  word-break: break-all;
}
body .calc .buttons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
body .calc .buttons__left {
  display: flex;
  flex-wrap: wrap;
  -moz-column-count: 3;
       column-count: 3;
  gap: 20px;
  max-width: 226px;
  width: 100%;
}
body .calc .buttons__inner {
  width: 100%;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
body .calc .btn {
  font-size: 32px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 16px;
  background-color: #303136;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
body .calc .btn:hover {
  color: #303136;
  background-color: #f1754e;
}
body .calc .operator {
  font-size: 32px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 16px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: #f1754e;
  color: #ffa98e;
}
body .calc .operator:hover {
  color: #303136;
  background-color: #fb5825;
}
body .calc .ac,
body .calc .delete {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 16px;
  font-size: 24px;
  color: #a5a5a5;
  background-color: #616161;
  transition: fill 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
body .calc .ac:hover,
body .calc .delete:hover {
  color: #303136;
  background-color: #a5a5a5;
}
body .calc .delete {
  fill: #a5a5a5;
}
body .calc .delete:hover {
  fill: #303136;
}
body .calc .advanced {
  font-size: 18px;
  background-color: #ffa98e;
  color: #303136;
}
body .calc .equal {
  border-radius: 12px;
  background-color: #fb5825;
}
body .calc .equal:hover {
  background-color: #ffa98e;
}
body .calc .zero {
  max-width: 144px;
  width: 100%;
}
body .calc .dot {
  transform: translateX(-3px);
}
body .buttons__right {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}
body .buttons__right .plus {
  height: 96px;
}
body .buttons__right .equal {
  height: 107px;
}
body .right__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=main.css.map */