body {
  background-color: $color-lightblue;
  font-family: $font-main;
  font-size: 24px;
  line-height: 48px;
  font-weight: 500;
  color: $operator-bg;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto 0;
    width: 550px;
    padding: 0 15px;
    min-height: 900px;
    height: 100%;
  }

  .calc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 40px 33px;
    width: 530px;
    height: 900px;
    background-color: $bg-calc;
    border-radius: 39px;

    &::before {
      content: "";
      position: absolute;
      top: 105px;
      left: 125px;
      width: 357px;
      height: 835px;
      background-color: rgba(96, 190, 255, 0.55);
      filter: blur(70px);
      border-radius: 39px;
      z-index: -1;
    }

    .display {
      color: $color-white;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: space-around;
      grid-column: 1 / -1;
      width: 100%;
      padding: 150px 0 70px;
      word-wrap: break-word;
      word-break: break-all;
      font-size: 48px;

      .values {
        color: #818181;
        font-weight: 400;
        font-size: 24px;
      }
    }

    .buttons {
      display: flex;
      column-gap: 20px;
    }

    .buttons__left {
      display: flex;
      flex-wrap: wrap;
      column-count: 3;
      gap: 17px;
      max-width: 226px;
      width: 100%;
    }

    .buttons__inner {
      width: 100%;
      display: flex;
      column-gap: 20px;
    }

    .btn,
    .dot {
      font-size: 32px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 60px;
      height: 60px;
      border-radius: 16px;
      background-color: $color-dark;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &:hover {
        color: $color-dark;
        background-color: $operator-bg;
      }
    }

    .operator,
    .equal,
    .plus-minus,
    .sqrt,
    .square,
    .trigonometry {
      font-size: 32px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 60px;
      height: 60px;
      border-radius: 16px;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      background-color: $operator-bg;
      color: $operator-color;

      &:hover {
        color: $color-dark;
        background-color: $equal-bg;
      }
    }

    .ac,
    .delete {
      font-weight: 500;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 60px;
      height: 60px;
      border-radius: 16px;
      font-size: 24px;
      color: $delete-color;
      background-color: $delete-bg;
      transition: fill 0.3s ease-in-out, color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;

      &:hover {
        color: $color-dark;
        background-color: $delete-color;
      }
    }

    .delete {
      fill: $delete-color;
      &:hover {
        fill: $color-dark;
      }
    }

    .advanced {
      font-size: 18px;
      background-color: $operator-color;
      color: $color-dark;
    }

    .equal {
      border-radius: 12px;
      background-color: $equal-bg;

      &:hover {
        background-color: $operator-color;
      }
    }

    .zero {
      max-width: 144px;
      width: 100%;
    }

    .dot {
      transform: translateX(-3px);
    }
  }

  .buttons__right {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .plus {
      height: 96px;
    }

    .equal {
      height: 107px;
    }
  }

  .right__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .trigonometry__buttons {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
