// Fonts

$font-main: "Poppins", sans-serif;

// Colors

$color-white: #ffffff;
$color-dark: #17181a;
$color-turquoise: #29a8ff;
$color-lightblue: #b2daff;
$color-blue: #005db2;
$color-grey: #303136;
