// Fonts

$font-main: "Poppins", sans-serif;

// Colors

$color-white: #ffffff;
$delete-color: #a5a5a5;
$delete-bg: #616161;
$bg-calc: #17181a;
$color-dark: #303136;
$color-lightblue: #daf0ff;
$color-grey: #858585;
$operator-bg: #f1754e;
$equal-bg: #fb5825;
$operator-color: #ffa98e;
